
/*NAV BAR*/
    
  .navbar {
    margin: 1px;
    padding: 0px;
  }
  .navbar-brand {
    font-family: 'Open Sans', sans-serif;

  } 
  
   /*Clanek o nas*/
   
  .O-nas {
    font-family:'Open Sans', sans-serif;
    margin: auto;
    background-color: rgb(159, 195, 241);
    border-bottom:rgb(0, 0, 0)
    }
  .budoucnoust h2 {
    margin-left: 20px;
  }

  .budoucnoust {
    display:flex;
    padding: 2em 0;
    flex-direction: column;
  }
  .budoucnoust p {
    margin-left: 20px;
  }
  .flaska-img {
   width:100%
  
  }
  .odkaz {
    color: black;
    text-decoration: none;
    text-decoration-line: underline;
    text-decoration-color: black;
    background-color: transparent;
  }
  
 
  
  .spoluprace2 h2 {
   margin-left: 20px;
    
  }
  .spoluprace {
    display:flex;
    padding: 2em 0;
    flex-direction: column;
  }

  .spoluprace{
    font-family:'Open Sans', sans-serif;
    margin: auto;
    background-color: rgb(216, 226, 240);
    border-bottom:rgb(0, 0, 0)
    }
    
    .spoluprace p {
      margin-left: 20px;
    }



    .nebaleno1{
      font-family:'Open Sans', sans-serif;
      background-color: rgb(159, 195, 241);
      border-bottom:rgb(0, 0, 0)
      }
    .nebaleno2 h2 {
      margin-left: 20px;
    }
  
    .nebaleno2 {
      display:flex;
      padding: 2em 0;
      flex-direction: column;
    }
    .nebaleno2 p {
      margin-left: 20px;
    }
    .flaska-img {
     width:100%
   
    }

    .img2 {
      margin-bottom: 50px;
    }
    .img1 {
      margin-bottom: 40px;
    }